[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "2.7"


[dev-packages]



[packages]

flake8 = "*"
flake8-isort = "*"
mozlog = "*"
PyPOM = "*"
pytest = "*"
pytest-metadata = "*"
pytest-selenium = "*"
pytest-variables = "*"
pytest-xdist = "*"
querystringsafe-base64 = "*"
selenium = "*"
funcsigs = "*"


[packages.configparser]

version = "==3.5.0"
markers = "python_version < '3.5'"


[packages.enum34]

version = "==1.1.6"
markers = "python_version < '3.4'"
